[submodule "Reptile/vendor/spdlog"]
	path = Reptile/vendor/spdlog
	url = https://github.com/Dcyyr/spdlog.git
[submodule "Reptile/vendor/GLFW"]
	path = Reptile/vendor/GLFW
	url = https://github.com/TheCherno/glfw
